apimServiceName: red-wus-apim-prod
named values:
  - name: environment
    properties:
      displayName: environment
      value: https://www.bing.com
  - name: demo
    properties:
      displayName: demo
      value: demo message new again again
  - name: TimeNow
    properties:
      displayName: TimeNow
      value: "@(DateTime2.Now.ToString())"
  - name: testSecret
    properties:
      displayName: testSecret
      value: "{#testSecretValue#}"
  - name: signingKey
    properties:
      displayName: signingKey
      keyVault: 
        secretIdentifier: https://red-scus-apimdemo-kv-prd.vault.azure.net/secrets/APIM-signing-key
  - name: 639121f85ddd1701d02ea23f
    properties:
      displayName: Logger-Credentials--639121f85ddd1701d02ea240
      value: "{#appInsightsLoggerKey#}"
  - name: allowed-ip-address
    properties:
      displayName: allowed-ip-address
      value: "{#allowedIPAddress#}"
loggers:
    - name: red-scus-apim-ai-dev
      properties:
        loggerType: applicationInsights
        description: App insights logger info
        resourceId: "/subscriptions/{#subscriptionId#}/resourceGroups/{#resourceGroupName#}/providers/microsoft.insights/components/red-scus-apim-appinsights-prd"
        credentials:
          instrumentationKey: "{{Logger-Credentials--639121f85ddd1701d02ea240}}"
        isBuffered: true
diagnostics:
    - name: applicationinsights
      properties:
        verbosity: Error
        loggerId: "/subscriptions/{#subscriptionId#}/resourceGroups/{#resourceGroupName#}/providers/Microsoft.ApiManagement/service/red-wus-apim-prod/loggers/red-scus-apim-ai-dev"
subscriptions:
  - name: "66ce4b511f9b910053070002"
    properties:
      displayName: "Unlimited Set By APIOps"
      scope: "/subscriptions/{#subscriptionId#}/resourceGroups/{#resourceGroupName#}/providers/Microsoft.ApiManagement/service/red-wus-apim-prod/products/unlimited"
      ownerId: "/subscriptions/{#subscriptionId#}/resourceGroups/{#resourceGroupName#}/providers/Microsoft.ApiManagement/service/red-wus-apim-prod/users/1"
      primaryKey: "{#unlimitedSubscriptionPrimaryKey#}"
      secondaryKey: "{#unlimitedSubscriptionSecondaryKey#}"
apis:
  - name: "basic-calculator;rev=1"
    #properties:
    #  description: "Math is fun! changed from config"
    diagnostics:
      - name: applicationinsights
        properties:
          verbosity: Error
          loggerId: "/subscriptions/{#subscriptionId#}/resourceGroups/{#resourceGroupName#}/providers/Microsoft.ApiManagement/service/red-wus-apim-prod/loggers/red-scus-apim-ai-dev"
  - name: "test"
    properties:
      apiVersionSetId: "/subscriptions/{#subscriptionId#}/resourceGroups/{#resourceGroupName#}/providers/Microsoft.ApiManagement/service/red-wus-apim-prod/apiVersionSets/6398be47eb8d2b6560dd061a"
  - name: "starwars-v1"
    properties:
      apiVersionSetId: "/subscriptions/{#subscriptionId#}/resourceGroups/{#resourceGroupName#}/providers/Microsoft.ApiManagement/service/red-wus-apim-prod/apiVersionSets/6398be47eb8d2b6560dd061a"    
  - name: "testopenai"
    diagnostics:
      - name: azuremonitor
        properties:
          largeLanguageModel:
            logs: "enabled"
            requests:
              messages: "all"
              maxSizeInBytes: 32768
            responses:
              messages: "all"
              maxSizeInBytes: 32768
