apimServiceName: red-apim-dev
namedValues:
  - name: 639121f85ddd1701d02ea23f
    properties:
      displayName: Logger-Credentials--639121f85ddd1701d02ea240
      value: "{#appInsightsLoggerKey#}"
  - name: testSecret
    properties:
      displayName: testSecret
      value: "{#testSecretValue#}"
  - name: signingKey
    properties:
      displayName: signingKey
      keyVault: 
        secretIdentifier: https://red-scus-apimdemo-kv-dev.vault.azure.net/secrets/APIM-signing-key
  - name: allowed-ip-address
    properties:
      displayName: allowed-ip-address
      value: "{#allowedIPAddress#}"
backends:
  - name: backend-pool-test
    properties:
      pool:
        services:
          - id: "/subscriptions/0272c02b-5a38-4b6b-86e6-dcc4ff2ff0e8/resourceGroups/red-scus-apiopsdemo-rg-dev/providers/Microsoft.ApiManagement/service/red-apim-dev/backends/MyCustomBackend"
            weight: 35
          - id: "/subscriptions/0272c02b-5a38-4b6b-86e6-dcc4ff2ff0e8/resourceGroups/red-scus-apiopsdemo-rg-dev/providers/Microsoft.ApiManagement/service/red-apim-dev/backends/WebApp_red-anyonecancode-web"
            weight: 65
  - name: MyCustomBackend
    properties:
      url: "https://mycustombackend-dev.azurewebsites.net"
loggers:
    - name: red-scus-apim-ai-dev
      properties:
        loggerType: applicationInsights
        description: App insights logger info
        resourceId: "/subscriptions/{#subscriptionId#}/resourceGroups/{#resourceGroupName#}/providers/microsoft.insights/components/red-scus-apim-appinsights-dev"
        credentials:
          instrumentationKey: "{{Logger-Credentials--639121f85ddd1701d02ea240}}"
        isBuffered: true
diagnostics:
    - name: applicationinsights
      properties:
        loggerId: "/subscriptions/{#subscriptionId#}/resourceGroups/{#resourceGroupName#}/providers/Microsoft.ApiManagement/service/red-apim-dev/loggers/red-scus-apim-ai-dev"
apis:
  - name: "test"
    properties:
      apiVersionSetId: "/subscriptions/{#subscriptionId#}/resourceGroups/{#resourceGroupName#}/providers/Microsoft.ApiManagement/service/red-apim-dev/apiVersionSets/6398be47eb8d2b6560dd061a"
  - name: "starwars-v1"
    properties:
      apiVersionSetId: "/subscriptions/{#subscriptionId#}/resourceGroups/{#resourceGroupName#}/providers/Microsoft.ApiManagement/service/red-apim-dev/apiVersionSets/6398be47eb8d2b6560dd061a"
  - name: "testopenai"
    properties:
      largeLanguageModel:
        logs: "enabled"
        requests:
          messages: "all"
          maxSizeInBytes: 32768
        responses:
          messages: "all"
          maxSizeInBytes: 32768